body {
  background-image: url('https://i.pinimg.com/originals/13/b2/fb/13b2fb4d9866d4e1611edd6e667af31e.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
